.busqueda-content {
    text-align: center;
    padding: 20px;
}

.busqueda-content h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

.busqueda-content input {
    width: 70%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: center;
}

.botones-circulares {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
}

.boton-circular {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-circular.feliz {
    background-color: #ffc107;
    transform: translate(-150%, -230%);
}

.boton-circular.feliz:hover {
    background-color: #2c5c7e;
}

.boton-circular.triste {
    background-color: #058aae;
    transform: translate(-0%, -100%);
}

.boton-circular.triste:hover {
    background-color: #2c5c7e;
}

.boton-circular.fiesta {
    background-color: #4caf50;
    transform: translate(130%, -230%);
}

.boton-circular.fiesta:hover {
    background-color: #2c5c7e;
}

.boton-circular.relajacion {
    background-color: #d505a8;
    transform: translate(-0%, -350%);
}

.boton-circular.relajacion:hover {
    background-color: #2c5c7e;
}

.buscar-boton {
    display: flex;
    background-color: #3498db;
    transform: translate(510%, -150%);
    color: white;
    font-size: 20px;
    padding: 18px 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.buscar-boton:hover {
    background-color: #2c5c7e;
}

.busqueda-content a {
    color: white;
    text-decoration: none;
}
.busqueda-content a:hover {
    color: rgb(42, 3, 83);
}

.busqueda-content li{
    padding: 5px;
    background-color: #2371a9;
    transform: translate(-2%, -150%);
}

.respuesta{
    transform: translate(-0%, -20%);
}


.voice-button {
    display: flex;
    background-color: #f5f5f5;
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transform: translate(2625%, -340%);
  }
  
  /* Añade el ícono del micrófono */
  .fas.fa-microphone {
    color: #ffffff;
  }
  
  .voice-button:hover {
    background-color: #ea1902;
  }

  .micro{
    display: flex;
    transform: translate(88%, -210%);
  }
  