/* Dashboard.css */

.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dashboard-container p{
    font-size: 20px;
    color: white;
}

.menu {
    width: 250px;
    background-color: #333;
    padding: 20px;
    transition: transform 0.3s;
    transform: translateX(0);
}

.menu.visible {
    transform: translateX(-100%);
}

.menu a {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #00729b;
}

.content {
    flex: 1;
    background-color: #000000;
    padding: 20px;
    overflow-y: auto;
    overflow: hidden; 
}

.toggle-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 100;
}

@media (max-width: 768px) {
    .toggle-menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
    }

    .menu.visible {
        transform: translateX(0);
    }

    .content {
        margin-top: 60px;
    }
}

.home-content {
    text-align: center;
    padding: 20px;
}

.home-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    color: #666;
    padding: 15px;
}

.home-content h1{
    font-size: 25px;
    color: white;
}

.home-content h2{
    font-size: 20px;
    color: white;
}

/* Estilos para la alerta */
.react-confirm-alert-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .react-confirm-alert {
    background-color: #ba5656;
    border-radius: 7px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.592);
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  .react-confirm-alert h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .react-confirm-alert p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
  }
  
  .react-confirm-alert-button-group button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .react-confirm-alert-button-group button.cancel {
    background-color: #000000;
    color: #fff;
  }
  
  .react-confirm-alert-button-group button.confirm {
    background-color: #2196f3;
    color: #fff;
  }
  