.home-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #020037, #641102);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 600px;
}

.overlay h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #0d0074;
    cursor: pointer;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #d22700;
    cursor: pointer;
}

.register-button:hover {
    background-color: #5b0000;
}

.login-button:hover {
    background-color: #05334c;
}

.overlay img {
    width: 400px;
    height: 300px;
}