.login-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #020037, #641102);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 400px;
  }
  
  .overlay h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #58060e;
  }
  
  .overlay p {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .overlay p a {
    color: #050f77;
  }

  .boton {
    display: block;
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
    cursor: pointer;
    text-align: center; /* Añadido para centrar el texto */
    text-decoration: none; /* Añadido para quitar la subrayado de enlace */
  }
  
  