/* MisListasContent.css */
.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sentimiento {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
  }
  
  .lista {
    list-style: none;
    padding: 0;
    color: white;
  }
  
  .lista-item {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
  }
  