.register-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #020037, #641102);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 400px;
  }
  
  .overlay h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #0d0074;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0d0074;
  }
  
  .overlay p {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .overlay p a {
    color: #a9addd;
  }
  